.clangd
.depend
.deps

.vscode
.ccls
compile_commands.json

*.a
*.so
*.o
*.bc
*.dylib
*.pyc

env/

# Debian build artifacts
*.deb
*.dsc
*.changes
*.build
*.buildinfo
*.tar.gz
*.tar.xz
*.tar.bz2
debian/files
debian/postgresql-*-pg-duckdb/
debian/.debhelper/
debian/debhelper-build-stamp
