name: Build Docker

on:
  push:
    tags: ["v*"]
  pull_request:
    paths:
      - Dockerfile
      - docker-bake.hcl
      - ".github/workflows/docker.yaml"
  schedule:
    - cron: "44 4 * * *"
  workflow_dispatch:

jobs:
  docker:
    name: Build Docker
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        postgres: ["15", "16", "17"]
        platform: ["linux/amd64", "linux/arm64"]

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: pgduckdb
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout pg_duckdb extension code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: Set env
        run: |
          # find the first tag for this commit starting with 'v'
          echo "POSTGRES_VERSION=${{ matrix.postgres }}" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: ${{ matrix.platform }}
      - name: docker bake
        uses: docker/bake-action@v5
        with:
          targets: pg_duckdb_${{ matrix.postgres }}
          # push: ${{ github.event_name != 'pull_request' }}
          push: true
          set: |
            *.platform=${{ matrix.platform }}
            *.cache-to=type=gha,mode=max
            *.cache-from=type=gha
            postgres.tags=pgduckdb/pgduckdb:${{ matrix.postgres }}-${{ github.sha }}
            postgres.tags=pgduckdb/pgduckdb:${{ matrix.postgres }}-${{ github.ref_name }}
